################################
###### Core dependencies #######
################################
rouge-score
tqdm
numpy
openai==0.24.0
benepar
spacy
plotly
seaborn
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability