################################
###### Core dependencies #######
################################
rouge-score
tqdm
numpy
openai==0.24.0
benepar
spacy
plotly
seaborn
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability