################################
###### Core dependencies #######
################################
rouge-score
tqdm
numpy
openai==0.24.0
benepar
spacy
plotly
seaborn
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability